{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration.cbee817f-80c0-40f8-aab3-89e17ef0d5a2",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}